<div class="submit-form">
      <div class="form-group">
          <p>id: number;
            product: Object;
            createdAt: Date;
            price: number;
            description: string;
            clicks: number;
            lasModified: Date;</p>
        <label for="title">Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          required
          [(ngModel)]="Advertisment.price"
          name="title"
        />
      </div>
  
      <div class="form-group">
        <label for="description">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="Advertisment.description"
          name="description"
        />
      </div>
  
      <button (click)="createAdvertisment()" class="btn btn-success">Submit</button>
    </div>
